<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.4/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main class="bg-grey-lighten-4">
        <v-container>
            <v-dialog
                v-model="dialog"
                fullscreen
                :scrim="false"
                transition="dialog-bottom-transition"
                
                >
                <template v-slot:activator="{ props }">
                    
                </template>
                <v-card>
                    <v-toolbar
                    dark
                    color="primary"
                    >
                    
                    <v-toolbar-title>Settings</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn
                        variant="text"
                        @click="dialog = false"
                        >
                        Save
                        </v-btn>
                    </v-toolbar-items>
                    </v-toolbar>
                    <div class="rounded-shaped bg-red-darken-2">
                        <div class="d-flex justify-center align-baseline" style="gap: 1rem">
                            <v-btn 
                                @click="clear('villains')" 
                                size="small"
                                variant="outlined"
                                :color="clearColor"
                            >Clear Villains</v-btn>
                            <v-btn 
                                @click="selectAll('villains')"
                                size="small"
                                variant="outlined"
                                :color="selectColor"
                            >Select All Villains</v-btn>
                        </div>
                        <div
                            v-for="(villain, index) in villains"
                            :key="villain.name"
                            
                        >
                            <v-switch
                                v-model="villains[index].active"
                                hide-details
                                inset
                                :label="`${villain.name}`"
                            ></v-switch>
                            
                        </div>
                    </div>
                    <div class="rounded-shaped bg-purple-darken-2">
                        <div class="d-flex justify-center align-baseline" style="gap: 1rem">
                            <v-btn 
                                @click="clear('env')" 
                                size="small"
                                variant="outlined"
                                :color="clearColor"
                            >Clear Environment</v-btn>
                            <v-btn 
                                @click="selectAll('env')"
                                size="small"
                                variant="outlined"
                                :color="selectColor"
                            >Select All Environment</v-btn>
                        </div>
                        <div
                            v-for="(envDeck, index) in env"
                            :key="envDeck.name"
                            
                        >
                            <v-switch
                                v-model="env[index].active"
                                hide-details
                                inset
                                :label="`${envDeck.name}`"
                            ></v-switch>
                        </div>
                    </div>
                    <div class="rounded-shaped bg-blue-darken-2">
                        <div class="d-flex justify-center align-baseline" style="gap: 1rem">
                            <v-btn 
                                @click="clear('heroes')" 
                                size="small"
                                variant="outlined"
                                :color="clearColor"
                            >Clear Heroes</v-btn>
                            <v-btn 
                                @click="selectAll('heroes')"
                                size="small"
                                variant="outlined"
                                :color="selectColor"
                            >Select All Heroes</v-btn>
                        </div>
                        <div
                            v-for="(hero, index) in heroes"
                            :key="hero.name"
                            
                        >
                            <v-switch
                                v-model="heroes[index].active"
                                hide-details
                                inset
                                :label="`${hero.name}`"
                            ></v-switch>
                            <v-fade-transition v-show="heroes[index].active">
                                <v-list density="compact">
                                    <v-list-item
                                        v-for="(variant, vindex) in hero.variants"
                                        :key="variant.name"
                                        variant="outlined"
                                        class="rounded-shaped bg-blue-grey-lighten-5"
                                    >
                                        <v-switch
                                            v-model="heroes[index].variants[vindex].active"
                                            hide-details
                                            inset
                                            :label="`${variant.name}`"
                                        ></v-switch>
                                    </v-list-item>
                                </v-list>
                            </v-fade-transition>
                        </div>
                    </div>
                </v-card>
            </v-dialog>
            <v-row>
                <v-col>
                    <v-card class="bg-blue-lighten-5 ">
                        <v-card-item class="rounded bg-blue-grey-lighten-4">
                          <v-card-title>Randomize Sentinels of the Multiverse: Definitive Edition</v-card-title>
                  
                          <v-card-subtitle>By Fosuke</v-card-subtitle>
                        </v-card-item>
                        <div class="d-flex align-center flex-column">
                            <v-btn-toggle
                                    v-model="H"
                                    divided
                                    size="small"
                                    color="deep-purple-accent-3"
                                    density="compact"
                                >
                                    <v-btn size="small" value="3">3</v-btn>
                                    <v-btn size="small" value="4">4</v-btn>
                                    <v-btn size="small" value="5">5</v-btn>
                                    <v-btn size="small" value="?">?</v-btn>
                            </v-btn-toggle>
                        </div>
                        <v-card-text class="py-0">
                            <v-list class="bg-blue-lighten-5">
                                <v-list-item 
                                    v-if="gameSetup.villain"
                                    variant="outlined"
                                    class="rounded-shaped bg-red-darken-2"
                                >
                                    <v-row>
                                        <v-col cols="3" md="2">
                                            <v-btn size="small" @click="newVillain" :color="randomButton">
                                                <v-icon icon="mdi-shuffle"></v-icon>
                                                <v-tooltip
                                                    activator="parent"
                                                    location="top"
                                                >random villain</v-tooltip>
                                            </v-btn>
                                        </v-col>
                                        <v-col>
                                            <v-list-item-title>
                                                {{gameSetup.villain.name}} 
                                            </v-list-item-title>
                                            <div v-show="gameSetup.villain.name != gameSetup.villain.deck">
                                                Deck: {{gameSetup.villain.deck}} 
                                            </div>
                                            <v-list-item-subtitle>
                                                {{gameSetup.villain.set}}
                                            </v-list-item-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-list-item>
                                <v-list-item 
                                    v-if="gameSetup.env"
                                    variant="outlined"
                                    class="rounded-shaped bg-purple-darken-2"
                                >
                                    <v-row>
                                        <v-col cols="3" md="2">
                                            <v-btn size="small" @click="newEnv" :color="randomButton">
                                                <v-icon icon="mdi-shuffle"></v-icon>
                                                <v-tooltip
                                                    activator="parent"
                                                    location="top"
                                                >random environment</v-tooltip>
                                            </v-btn>
                                        </v-col>
                                        <v-col>
                                            <v-list-item-title>
                                                {{gameSetup.env.name}} 
                                            </v-list-item-title>
                                            <v-list-item-subtitle>
                                                {{gameSetup.env.set}}
                                            </v-list-item-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-list-item>
                                <v-list-item
                                  v-for="(hero, index) in gameSetup.heroes"
                                  :key="hero.name"
                                  variant="outlined"
                                  class="rounded-shaped bg-blue-darken-2"
                                >
                                    <v-row>
                                        <v-col cols="3" md="2">
                                            <v-btn size="small" @click="newHero(index)"  :color="randomButton">
                                                <v-icon icon="mdi-shuffle"></v-icon>
                                                <v-tooltip
                                                    activator="parent"
                                                    location="top"
                                                >random hero</v-tooltip>
                                            </v-btn>
                                            <v-btn size="small"  @click="newVariant(index)"  :color="randomButton2">
                                                <v-icon icon="mdi-shuffle-variant"></v-icon>
                                                <v-tooltip
                                                    activator="parent"
                                                    location="top"
                                                >random variant</v-tooltip>
                                            </v-btn>
                                        </v-col>
                                        <v-col>
                                            <v-list-item-title>
                                                {{hero.name}} 
                                            </v-list-item-title>
                                            <div>
                                                {{hero.variant}}
                                            </div>
                                            <v-list-item-subtitle>
                                                {{hero.set}}
                                            </v-list-item-subtitle>
                                        </v-col>
                                    </v-row>
                                </v-list-item>
                            </v-list>
                        </v-card-text>
                        <v-card-actions>
                            <v-row>
                                <v-col cols="4">
                                    <v-btn position="absolute" location="bottom left" variant="flat" color="error" @click="reset" class="ml-1 mb-2">
                                        Clear
                                    </v-btn>
                                </v-col>
                                <v-col cols="4">
                                    <v-btn
                                        dark
                                        variant="flat"
                                        position="absolute" location="bottom center"
                                        class="mb-2"
                                        @click="dialog = true"
                                        >
                                        Settings
                                    </v-btn>
                                </v-col>
                                <v-col cols="4">
                                    <v-btn position="absolute" location="bottom right" variant="flat" color="primary" @click="randomize" class="mr-1 mb-2">
                                        Randomize
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-actions>
                      </v-card>
                </v-col>
            </v-row>
            
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.4/dist/vuetify.min.js"></script>
  <script>
    //primary, secondary, success, info, warning, error
    const { createApp } = Vue
    const { createVuetify } = Vuetify

    const vuetify = createVuetify()

    const app = createApp({
        data() {
            return {
                randomButton: 'success',
                randomButton2: 'secondary',
                clearColor: '',
                selectColor: '',
                dialog: false,
                heroes: [
                    {name:"Absolute Zero",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"The Argent Adept",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"Bunker",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Stealth Suit",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"Captain Cosmic",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"Fanatic",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Haunted",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"Haka",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Werewolf",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"Legacy",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"Ra",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Backdraft",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"Tachyon",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"Tempest",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},],set: "Core Game",active: true},
                    {name:"Unity",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Scavenger",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"The Wraith",variants:[{name:"Base",set:"Core Game",active: true},{name:"First Appearance",set:"Core Game",active: true},{name:"Detective",set:"Rook City Renegades",active: true},],set: "Core Game",active: true},
                    {name:"Alpha",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Reporter",set:"Rook City Renegades",active: true},{name:"2000",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                    {name:"Expatriette",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Dark Watch",set:"Rook City Renegades",active: true},{name:"Eclipse",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                    {name:"The Harpy",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Dark Watch",set:"Rook City Renegades",active: true},{name:"Blood Raven",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                    {name:"Mr. Fixer",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Dark Watch",set:"Rook City Renegades",active: true},{name:"Black Fist",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                    {name:"NightMist",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Dark Watch",set:"Rook City Renegades",active: true},{name:"Mentor",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                    {name:"Setback",variants:[{name:"Base",set:"Rook City Renegades",active: true},{name:"First Appearance",set:"Rook City Renegades",active: true},{name:"Dark Watch",set:"Rook City Renegades",active: true},{name:"Fey-Cursed",set:"Rook City Renegades",active: true},],set: "Rook City Renegades",active: true},
                ],
                env: [
                    {name:"Freedom Tower",set:"Core Game",active:true},
                    {name:"Insula Primalis",set:"Core Game",active:true},
                    {name:"Magmaria",set:"Core Game",active:true},
                    {name:"Megalopolis",set:"Core Game",active:true},
                    {name:"The Ruins of Atlantis",set:"Core Game",active:true},
                    {name:"Wagner Mars Base",set:"Core Game",active:true},
                    {name:"Diamond Manor",set:"Rook City Renegades",active:true},
                    {name:"Pike Industrial Complex",set:"Rook City Renegades",active:true},
                    {name:"Rook City",set:"Rook City Renegades",active:true},
                    {name:"The Realm of Discord",set:"Rook City Renegades",active:true},
                    {name:"The Temple of Zhu Long",set:"Rook City Renegades",active:true},
                ],
                villains: [
                    {name:"Akash'Bhuta",deck:"Akash'Bhuta",set:"Core Game",active:true},
                    {name:"Akash'Mecha",deck:"Akash'Bhuta",set:"Core Game",active:true},
                    {name:"Baron Blade",deck:"Baron Blade",set:"Core Game",active:true},
                    {name:"Mad Bomber Baron Blade",deck:"Baron Blade",set:"Core Game",active:true},
                    {name:"Citizen Dawn",deck:"Citizen Dawn",set:"Core Game",active:true},
                    {name:"Sunrise Citizen Dawn",deck:"Citizen Dawn",set:"Core Game",active:true},
                    {name:"Grand Warlord Voss",deck:"Grand Warlord Voss",set:"Core Game",active:true},
                    {name:"Censor",deck:"Grand Warlord Voss",set:"Core Game",active:true},
                    {name:"Omnitron",deck:"Omnitron",set:"Core Game",active:true},
                    {name:"Cosmic Omnitron",deck:"Omnitron",set:"Core Game",active:true},
                    {name:"The Matriarch",deck:"The Matriarch",set:"Core Game",active:true},
                    {name:"The Mocktriarch",deck:"The Matriarch",set:"Core Game",active:true},
                    {name:"Ambuscade",deck:"Ambuscade",set:"Rook City Renegades",active:true},
                    {name:"Vainglorious Ambuscade",deck:"Ambuscade",set:"Rook City Renegades",active:true},
                    {name:"Apex",deck:"Apex",set:"Rook City Renegades",active:true},
                    {name:"Blood-Leashed Apex",deck:"Apex",set:"Rook City Renegades",active:true},
                    {name:"GloomWeaver",deck:"GloomWeaver",set:"Rook City Renegades",active:true},
                    {name:"Soultaker GloomWeaver",deck:"GloomWeaver",set:"Rook City Renegades",active:true},
                    {name:"Kismet",deck:"Kismet",set:"Rook City Renegades",active:true},
                    {name:"Empowered Kismet",deck:"Kismet",set:"Rook City Renegades",active:true},
                    {name:"Plague Rat",deck:"Plague Rat",set:"Rook City Renegades",active:true},
                    {name:"Doctor Toxica",deck:"Plague Rat",set:"Rook City Renegades",active:true},
                    {name:"Spite",deck:"Spite",set:"Rook City Renegades",active:true},
                    {name:"Abomination Spite",deck:"Spite",set:"Rook City Renegades",active:true},
                    {name:"Terrorform",deck:"Terrorform",set:"Rook City Renegades",active:true},
                    {name:"Terrorform Mark III",deck:"Terrorform",set:"Rook City Renegades",active:true},
                    {name:"The Fey-Court",deck:"The Fey-Court",set:"Rook City Renegades",active:true},
                    {name:"War-Girded Dagda & Morrigan",deck:"The Fey-Court",set:"Rook City Renegades",active:true},
                    {name:"The Organization",deck:"The Organization",set:"Rook City Renegades",active:true},
                    {name:"The Bear",deck:"The Organization",set:"Rook City Renegades",active:true},
                ],
                H:"3",
                gameSetup: {
                    heroes: [],
                    villain: "",
                    env: ""
                },
                lock: {
                    heroes: [],
                    villain: false,
                    env: false
                }
            }
        },
        computed:{
            activeHeroes() {
                return this.heroes.filter((hero)=>{
                    return hero.active && (hero.variants.filter((variant)=>{
                        return variant.active
                    }).length > 0)
                })
            }
        },
        methods: {
            getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },
            randomize() {
                let H 
                if(this.H == "?"){
                    H = this.getRandomInt(3,5)
                }else{
                    H = parseInt(this.H)
                }
                this.gameSetup.heroes = this.shuffle(this.activeHeroes).slice(0,H).map((hero)=>{
                    let variantSelected = this.shuffle(this.activeList(hero.variants))[0]
                    return {
                        name: hero.name,
                        variant: variantSelected.name,
                        set: [...new Set([hero.set,variantSelected.set])].toString()
                    }
                })
                this.gameSetup.env = this.shuffle(this.activeList(this.env))[0]
                this.gameSetup.villain = this.shuffle(this.activeList(this.villains))[0]
            },
            shuffle(unshuffled){
                return  unshuffled
                    .map(value => ({ value, sort: Math.random() }))
                    .sort((a, b) => a.sort - b.sort)
                    .map(({ value }) => value)
            },
            activeList(variants) {
                return variants.filter((variant)=>{
                    return variant.active
                })
            },
            newHero(index) {
                let newHero = this.shuffle(this.activeHeroes.filter((hero)=>{
                    return (this.gameSetup.heroes.findIndex((heroIndex)=>{
                        return heroIndex.name == hero.name
                    }) == -1)
                }))[0]
                let variantSelected = this.shuffle(this.activeList(newHero.variants))[0]
                this.gameSetup.heroes[index] = {
                        name: newHero.name,
                        variant: this.shuffle(this.activeList(newHero.variants))[0].name,
                        set: [...new Set([newHero.set,variantSelected.set])].toString()
                    }
            },
            newVariant(index) {
                let selectedHero = this.heroes.find((hero)=>{
                    return hero.name == this.gameSetup.heroes[index].name
                })
                let selectedHeroVariants = selectedHero.variants.filter((variant)=>{
                    return variant.name != this.gameSetup.heroes[index].variant
                })

                let variant = this.shuffle(this.activeList(selectedHeroVariants))[0]
                this.gameSetup.heroes[index].variant = variant.name
                this.gameSetup.heroes[index].set = [...new Set([selectedHero.set,variant.set])].toString()
            },
            newEnv() {
                let newEnvList = this.env.filter((item)=>{
                    return item.name != this.gameSetup.env.name
                })
                this.gameSetup.env = this.shuffle(this.activeList(newEnvList))[0]
            },
            newVillain() {
                let newVillainList = this.villains.filter((item)=>{
                    return item.name != this.gameSetup.villain.name
                })
                this.gameSetup.villain = this.shuffle(this.activeList(newVillainList))[0]
            },
            reset() {
                this.gameSetup = {
                    heroes: [],
                    villain: "",
                    env: ""
                }
            },
            clear(selection){
                this[selection].forEach((item,index)=>{
                    this[selection][index].active = false
                    if(item.variants){
                        item.variants.forEach((variants,vindex)=>{
                            this[selection][index].variants[vindex].active = false
                        })
                    }
                })
            },
            selectAll(selection){
                this[selection].forEach((item,index)=>{
                    this[selection][index].active = true
                    if(item.variants){
                        item.variants.forEach((variants,vindex)=>{
                            this[selection][index].variants[vindex].active = true
                        })
                    }
                })
            }
        }
    })
    app.use(vuetify).mount('#app')
  </script>
</body>
</html>
